.freeDetailMain {
    margin-left: 250px;
    text-align: center;

    .writingSection{    
        margin: 20px;
        .writingBox{
            display: inline-block;
            .top{
                margin-left: 80%;
            }
            .boxTwo{
                margin: 10px;
                padding: 30px;
                width: 50vw;
                height: 350px;
                border-radius: 10px;
                display: inline-grid;
                background-color: rgba(182, 210, 233, 0.94);
                text-align: start;
            }
        }

        .comment{
            text-align: center;
            margin: 20px 0px;
            display: inline-block;
            width: 90%;
            .commentInput{
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 20px;
                input{
                    width: 100%;
                    height: 30px;
                    border-radius: 20px;
                    padding-left: 10px;
                    border: #009FE3 solid 1.5px;
                    font-size: 15px;
                    margin: 0px 10px;
                }
                .commentPlus{
                    width: 30px;
                    height: 30px;
                    color: #009FE3;
                }
            }
            .commentLook{
                margin:20px;
                .nthCommet{
                    margin:20px;
                    border-bottom: rgb(199, 199, 199) solid 1px;
                    padding-bottom: 10px;
                    .cmtContent{
                        display: block;
                    }
                    .cmtDate{
                        margin-top: 10px;
                        display: block;
                        margin-left: 80%;
                        font-size: 13px;
                        color: #009FE3;
                    }
                }  
            }
        }
    }

}