.loginBody{
    background-color: #009FE3;
    padding: 20px;
}

.loginBorder{
    border: solid white 2px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    .loginMain {
        width: 400px;
        height: 400px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h1{
            margin-top: 0px;
            text-align: center;
        }
        
        .loginClick {
            width: 400px;
            height: 50px;
            padding: 0 10px;
            background-color: white;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            text{
                font-size: 22px;
            }
            .fa-circle-chevron-down {
                display: '';
                width: 30px;
                height: 30px;
                color: #009FE3;
            }
            .fa-circle-chevron-up {
                display: none;
                width: 30px;
                height: 30px;
                color: #009FE3;
            }
        }

        .beforClick {
            //display: none;
            margin: 2px;
            padding: 10px;
            border: solid white 2px;
            width: 395px;
            height: 120px;
            padding: 5px 10px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            div {
                width: 370px;
                height: 50px;
                padding: 0 10px;
                background-color: white;
                border-radius: 7px;
                font-size: 18px;
                display : flex;
                align-items : center;
            }
        }   

        .find{
            margin-top: 20px;
            color: white;
            font-size: 18px;
            text-align: center;
        }
    }
}

