.navbar{
    position: fixed;
    background-color: #009FE3;
    width: 250px;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    header, section {
        margin-top: 5px;
        margin-bottom: 12px;
        padding-bottom: 15px;
        border-bottom: white solid 1px;
        width: 200px;
    }

    .myPageBox{
        margin: auto;
        margin-bottom: 10px;
        width: 170px;
        height: 50px;
        background-color: white;
        border-radius: 7px;

        display: flex;
        justify-content: space-between;

        text{
            width: 50px;
            color:black;
        }
        button{
            width: 30px;
            height: 30px;
        }
    }

    .board, .linkTo, .main{
        text {
            color: white;
        }
        div{
            margin-top: 10px;
            .fa-house {
                color: white;
            }
            a{
                text-decoration: none;
                color: white;
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        text-align: center;
    }
}