.noticePageMain{
    margin-left: 250px;
    h4{
        margin-left: 10px;
        color:#009FE3;
    }
    article{
        font-size: 17px;
        color:black;
        font-weight: 200;

        border: solid 1px #009FE3;
        border-radius: 15px;
        padding: 3px 10px;
        margin: 25px 15px;
    }
    .date{
        font-size: 13px;
        margin-left: 90%;
    }
} 