.recruitWriteMain {
    margin-left: 250px;
    
    .writingSection{
        text-align: center;
        margin: 20px;
        .writingBox{
            max-width: 1100px;
            display: inline-block;
            .title{
                margin-top: 20px;
                width: 50vw;
                height: 45px;
                border-radius: 10px;
                border:1px solid gray;
                display: inline-block; 
                font-size: 20px;   
                padding: 5px;
            }

            .boxOne, .boxTwo{
                margin: 10px;
                padding: 30px;
                width: 350px;
                height: 450px;
                display: inline-grid;
                //background-color: rgba(182, 210, 233, 0.94);
                text-align: start;
            }

            .boxOne{
                font-size: 20px;
                .recruitType{
                    select{
                        margin: 5px 0px;
                        width: 310px;
                        height: 45px;
                        border-radius: 10px;
                        border:1px solid gray;
                        font-size: 15px;
                        padding-left: 7px;
                    }
                   
                }
                input{
                    margin: 5px 0px;
                    width: 300px;
                    height: 40px;
                    border-radius: 10px;
                    padding-left: 10px;
                    border:1px solid gray;
                    font-size: 15px;
                }
                
            }

            .boxTwo{
                font-size: 20px;
                textarea{
                    margin: 5px 0px;
                    height: 400px;
                    width: 320px;
                    border-radius: 10px;
                    padding: 10px;
                    font-size: 15px;
                }
            }
        }

        .submitBtn{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 30px 0px;
            width: 70vw;
            height: 45px;
            border: 0;
            border-radius: 10px;
            padding-left: 10px;
            font-size: 20px;
            background-color: #009FE3;
            color: white;
        }
    }
}